<center><div class="navbar-cocktails">
  <%= link_to cocktails_path do %>
  Cocktails <span id="ylw-color"><i class="fas fa-cocktail"></i></span>
  <% end %>
</div></center>
<div class="container mt-5">
  <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: "cocktail-link" do %>
    <div class="card-container">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(
          <% if cocktail.image.empty? %>
          <%= cl_image_path cocktail.photo, height: 800, width: 1100, crop: :fill %>
          <% else %>
          <%= cl_image_path cocktail.image, height: 800, width: 1100, crop: :fill %>
          <% end %>
      )">
    </div>
    </div>
    <%end%>
  <% end %>
</div>
<br><center><div class=" container footer-newcock">
<%= link_to new_cocktail_path, class: "btn btn-primary mt-5 newcock-btn" do %>
  <i class="fas fa-plus"></i> &nbsp &nbsp make your own cocktail <i class="fas fa-cocktail"></i>
<%end%>
</div></center>
</div>
