<div class="container new-cocktail-form" style="margin: 40px 400px;">
<h1>Create a new cocktail</h1>
<%= simple_form_for(@cocktail) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.label :image, "Image URL" %>
    <%= f.input :image, label: false %>
    <%= f.label :photo, "Or Upload a photo" %>
    <%= f.input :photo,label: false %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-info' %>
    <%= link_to 'Cancel', (@cocktail.new_record? ? cocktails_path : cocktail_path(cocktail)), class: 'btn btn-info' %>
  </div>
<% end %>
</div>
