<center><div class="navbar-cocktails">
  <%= link_to cocktails_path do %>
  Cocktails <span id="ylw-color"><i class="fas fa-cocktail"></i></span>
  <% end %>
</div></center>

<div class="wrapper-centered">
  <div class="arrow-prev">
    <%= link_to cocktail_path(@cocktail.id - 1) do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
  </div>
  <div class="cocktail-title">
  <%= image_tag @cocktail.image, class: "logo-cock" %>
</div>

<div class="cock-ingre">
  <h1><%= @cocktail.name %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li class= "doses-description"><i class="fas fa-cube"></i>&nbsp &nbsp<%= dose.ingredient.name %> : <%= dose.description%></li>
  <% end %>
</ul>
<button type="button" class="btn btn-info btn-new-dose">add a new ingredient</button>
<%= render 'doses/new' %>
</div>
<div class="arrow-prev">
  <%= link_to cocktail_path(@cocktail.id+1) do %>
    <i class="fas fa-angle-right"></i></i>
  <% end %>
  </div>
</div>
<center>
<%= link_to cocktails_path, class: "back-link" do %>
<i class="fas fa-arrow-left fleche-gauche"></i> &nbsp &nbsp back to cocktails list
<%end%>
</center>
